@import "./ArtistCard";

.albumPageContainer {
    flex-grow: 1;
}

.albumPageTitle {
    color: #ffffff;
    padding-left: 5rem;
    font-size: 1.5rem;
}

h2 {
    font-weight: normal;
    margin-bottom: 0;
}

h3 {
    color: grey;
    font-weight: normal;
    font-size: 1.4rem;
    margin: 0;
}

.albumsContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 40px;
    padding: 3rem;
}
