.albumPageContainer {
    flex-grow: 1;
}

.albumPageTitle {
    color: #ffffff;
    padding-left: 5%;
    font-size: 1.5rem;
}

h2 {
    font-weight: normal;
    margin-bottom: 0;
}

.albumsContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 40px;
    padding: 3rem;
}

.albumContainer {
    /* height: 32rem; */
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 4px;
    transition: transform 0.5s ease;
    background-color: #ffffff;
}

.albumImg {
    width: 100%;
    height: 15rem;
    text-align: center;
    overflow: hidden;
}

.albumInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 2px solid black;
    padding: 1rem;
}

.albumNameArtistsContainer {
}

.albumDateTracksContainer {
    color: #808080;
    padding-top: 1.5rem;
}

.albumItem {
    width: 100%;
}

.albumName {
    font-size: 20px;
}

.albumArtists {
    color: #808080;
    padding-top: 0.4rem;
    font-size: 15px;
}

.albumUrl {
    border-top: 2px solid black;
    text-align: center;
    padding: 1rem;
}

.albumUrl:hover {
    /* color: white; */
    background-color: cadetblue;
    cursor: pointer;
}
