.artistSearchPageContainer {
    flex-grow: 1;
}

.artistsContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    /* grid-template-rows: repeat(4, 100px); */
    grid-gap: 40px;
    padding: 3rem;
    /* background-color: green; */
}

.artistContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid black;
    transition: transform 0.5s ease;
    /* background-color: blue; */
}

.artistContainer:hover {
    background-color: cadetblue;
    transform: scale(1.1);
    cursor: pointer;
}

.artistImg {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
}

.artistItem {
    width: 100%;
    padding: 0.5rem;
}

.artistName {
    font-size: 20px;
}
