.artistsContainer {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: repeat(4, 200px);
    padding: 3rem;
    background-color: green;
}

.artistContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid black;
    transition: transform 0.5s ease;
    background-color: blue;
}

.artistContainer:hover {
    background-color: cadetblue;
    transform: scale(1.2);
    cursor: pointer;
}

.artistImg {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
}

.artistItem {
    width: 100%;
    padding: 0.5rem;
}

.artistName {
    font-size: 20px;
}
