.artistContainer {
    height: 25rem;
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 4px;
    transition: 0.3s ease;
    background-color: #ffffff;
    color: grey;
}

.artistContainer:hover {
    background-color: #1db954;
    transform: scale(1.1);
    cursor: pointer;
    color: #ffffff;
}

.artistImg {
    height: 15rem;
    text-align: center;
    overflow: hidden;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.artistInfo {
    /* height: 10rem; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 2px solid #808080;
    padding: 1rem;
}

.artistItem {
    /* width: 100%;
    color: black; */
}

.artistNameFollowersContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex;
}

.artistName {
    color: #191414;
    font-size: 20px;
}

.artistFollowers {
    padding-top: 0.4rem;
    font-size: 15px;
}

.artistPopularity {
    padding-top: 2rem;
}

a {
    text-decoration: none;
    color: #191414;
}

/* .star {
    position: relative;

    display: inline-block;
    width: 0;
    height: 0;

    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-bottom: 1.2em;

    border-right: 0.3em solid transparent;
    border-bottom: 0.7em solid #fc0;
    border-left: 0.3em solid transparent;

    // Controlls the size of the stars. 
    font-size: 12px;
}

.star:before,
.star:after {
    content: "";

    display: block;
    width: 0;
    height: 0;

    position: absolute;
    top: 0.6em;
    left: -1em;

    border-right: 1em solid transparent;
    border-bottom: 0.7em solid #fc0;
    border-left: 1em solid transparent;

    transform: rotate(-35deg);
}

.star:after {
    transform: rotate(35deg);
} */
