.header {
    color: #191414;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid grey;
    background-color: #1db954;
    padding-left: 5rem;
    padding-right: 3rem;
    width: 100%;
}

h1 {
    font-size: 2.2rem;
    font-weight: normal;
}

.headerLogoutLogoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogoutButton {
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid #808080;
    padding: 0.5rem;
    margin: 1.75rem;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.2s ease 0s;
}

.headerLogoutButton:hover {
    background-color: #191414;
    color: white;
    cursor: pointer;
}

.headerLogo {
    font-size: 3rem;
}
