.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid grey;
    background-color: #1db954;
    padding-left: 5rem;
    padding-right: 3rem;
    width: 100%;
}

h1 {
    font-size: 2.2rem;
    font-weight: normal;
}

.headerLogoutLogoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    font-size: 3rem;
}
