.header {
    color: #191414;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid grey;
    background-color: #1db954;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
}

/* nav a {
    display: inline-block;
    padding: 10px 16px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

nav a:hover {
    color: goldenrod;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: goldenrod;
    width: 0%;
    transition: all ease-in-out 300ms;
} */

.headerLogoTitleContainer {
    padding: 0;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.headerLogoTitleContainer:hover {
    color: white;
}

h1 {
    padding-left: 2rem;
    font-size: 2.5rem;
    /* font-weight: normal; */
}

.headerLogoutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogoutButton {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #808080;
    padding: 0.5rem;
    margin: 1.75rem;
    font-size: 1.3rem;
    font-weight: bold;
    transition: all 0.2s ease 0s;
}

.headerLogoutButton:hover {
    background-color: #191414;
    color: white;
    cursor: pointer;
}

.headerLogo {
    position: absolute;
    left: 1rem;
    font-size: 3rem;
}
