* {
    box-sizing: border-box;
}

html,
body,
#root {
    background-color: #191414;
    height: 100%;
    font-family: "Helvetica";
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
}
