.loginPage {
    font-size: 1.75rem;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* margin-top: 350px; */
}

.loginContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border: 2px solid #a3a1a1;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #ffffff;
}

.loginContainer:hover {
    background-color: grey;
}

.loginItem {
    color: black;
    text-decoration: none;
    padding: 0.75rem;
}
